@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&display=swap');


*{
    padding: 0px;
    margin: 0px;
    font-family: "Brygada 1918", serif;
    font-style: normal;
}


body{
    background-color: #007E7A;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    color: white;
    display: flex;
    margin-bottom: 80px;
    justify-content: center;
    font-size: 3em;

}
img{
    float: left;
    width: 850px;
    height: 600px;
    margin-right: 250px;
    border-radius: 25%;
    
}

.login{
    display: flex;
    align-items: center;
}

/*Fundo preto para o conteudo*/
.container{
    margin-right: 200px;
    width: 500px;
    height: 400px;
    background:  #007E7A;
    border-radius: 8px;
    box-shadow: 1px 2px 15px #004947, 2px 6px 45px #004947;
    padding: 50px 20px;
}

h2{
    text-align: center;
    margin: 20px;
    color: white;
    font-size: 25px;
}

/* Estilização de inputs*/
input{
    width: 100%;
    height: 46px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: white;
}

.input-field{
    position: relative;
    margin-bottom: 20px;
}

label{
    position: absolute;
    top:0;
    left: 0;
    color: white;
    transform: translateY(18px);
    transition: .25s ease-in-out;
    font-size: 18px;
}

input:focus + label{
    transform: translateY(-14px) scale(.8);
    color:#EA7A3B;
}

input:focus{
    box-shadow: 0 1px 0 0 #EA7A3B;
    border-bottom: #EA7A3B 1px solid;
}

.center{
    text-align: center;
}

/* Estilização de botão*/
button{
    background: transparent;
    padding: 15px 100px;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    border:2px solid white;
    margin: 50px;
    cursor: pointer;
    transition: ease-in-out .25s;
}

button:hover{
    background: #EA7A3B;
}

div a{
    text-decoration: none;
    color: white;
    transition: .25s ease-in-out;
}

div a:hover{
    color:#EA7A3B;
}

input:not(:placeholder-shown){
    box-shadow: 0 1px 0 0 #EA7A3B;
    border-bottom: #EA7A3B 1px solid;
}

input:not(:placeholder-shown) + label{
    transform: translateY(-14px) scale(.8);
}

input::placeholder{
    color:transparent;
}

.links-uteis{
    display: grid;
    justify-content: center;
    line-height: 1.5em;
}
.links{
    display: flex;
    justify-content: center;
    gap: 15px;
}
